:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --font-size: 14px;
  --line-height: 24px;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --main-txt-cl: #212121;
  --sec-txt-cl: #757575;
  --accent-txt-cl: #2196f3;

  /* bg colors */
  --darc-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;

  /* others */
}

/*reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*body section*/
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

/* base styles */

.heder-email,
.heder-phone {
  color: #757575;
}
.heder-emailr:hover,
.heder-phone:hover {
  color: var(--hero-txt-cl);
}

.heder-email:focus,
.heder-phone:focus {
  color: var(--hero-txt-cl);
}

/* base styles*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

.uppertitle-mode-light {
  color: #212121;
}
.uppertitle-mode-dark {
  color: rgba(255, 255, 255, 0.6);
}

.main-title {
  background-color: var(--darc-bg-color);
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.section-title-mode-light {
  color: #212121;
}

.section-title-mode-dark {
  color: #ffffff;
}

.btn,
.header-btnone,
.portfolio-btn {
  max-width: 250px;
  min-width: 200px;
  min-height: 50px;
  padding: 11px; 19px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.btn,
.header-btnone,
.portfolio-btn {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-mode-light {
  color: var(--main-txt-cl);
}
.btn-mode-dark {
  color: var(--btn-txt-cl);
}

.header-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/*header section*/
.nav-item-webstudio {
  font-family: var(--main-font);
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  display: flex;
}

.header {
  background-color: var(--light-gray-backg--);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71;
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 40pt;
}

.header-item:last-child {
  margin-right: 0;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-accentone {
  color: #212121;
}

.header-phone,
.header-email {
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #2f303a;
}

.header-link {
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus,
.header-phone:hover,
.heder-phone:focus {
  color: var(--sec-txt-cl);
}
.header-link-current {
  color: var(--sec-txt-cl);
}

.header-phone {
  margin-right: 40px;
}

/*hero section*/
.hero {
  background-color: var(--darc-bg-color);
}

.hero-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-txt-cl);
}

/*main section*/

.header {
  background-color: var(--light-gray-backg--);
}
.section-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: none;
}

.section-it {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #2f303a;
}

.about-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-list{
  display: flex;
}

.team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.project-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}

.team-it {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

/*footer */
.footer {
  background-color: var(--darc-bg-color);
}

.logo-footer-style {
  color: var(--hero-txt-cl);
}

.footer-list {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-accent {
  color: #ffffff;
}

.logo-accentone {
  color: #212121;
}

.address-link {
  color: var(--light-bg-color);
}
.footer-email,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer-emailr:hover,
.footer-phone:hover {
  color: var(--hero-txt-cl);
}

.footer-email:focus,
.footer-phone:focus {
  color: var(--hero-txt-cl);
}
